/* Configuración general de los estilos de la página */
* {box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;}
html {height: 100%;
    width: 100%;}
/* Movil First */
/* Header */
header { background-color: #D1891C; }
header span {
    padding: 2rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;}
h1 {padding: 1rem;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    color: #ffffff;}
/* Cards de Súper Héroes */
section {display: flex; 
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;}
    /* Card General */
    .caja {
        width: 75vw;
        height: 450px;
        margin: 1rem;
        background-color: #F3F3F3;
        border-radius: 16px 16px 0px 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: space-between;
        position: relative;}
    /* Card Individual */
.uno {
    background-image: url(../img/fondo_tarjeta1.png);
    background-repeat: no-repeat;
    background-size: contain;}
.dos {background-image: url(../img/Fondo_Mujer_Maravilla.png);
    background-repeat: no-repeat;
    background-size: contain;}

.tres {background-image: url(../img/Fondo_Superman.png);
        background-repeat: no-repeat;
        background-size: contain;}

.cuatro {background-image: url(../img/fondo_tarjeta2.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: none;}
/* Contenido de la Card */
.imagen-top {
    border-radius: 50%;
    position: absolute;
    top: 5rem;
    height: 130px;}
.imagen-top .desktop {display: none;}
#corazon {position: absolute;
    top:1rem;
    left: 1rem;
    color: #CC2424;
    font-weight: bolder;
    height: 10px;}
    .caja h2 {margin: 1rem;
    position: absolute;
    top: 12rem;}
    .caja p {font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1rem;
        color: #333333;
        padding: 1rem;
        margin-top:4rem;
        position:absolute;
        top:10rem;}
        
    .caja button {width: 5rem;
        height: 2.5rem;
        background: #00669F;
        color: #ffffff;
        border-radius: 5%;
        position: absolute;
        bottom: 1rem;}
    /* Boton + */
    #more {position:fixed;
        background-color: #00669F;
        border-radius: 50%;
        background-size: contain;
    height: 30px;
    width: 8%;
    top: 30rem;
    right: 0.4rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;}
    /* Footer - Derechos Reservados */
    footer {
        padding: 0.5rem;
        background-color: #00669F;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;}
    footer p {font-size: 0.8rem; text-align: center;}
    footer img {height: 16px;}
@media (min-width:768px) {
    /* Tablet */
/* Header */
/* Cards de Súper Héroes */
section {width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;}
    /* Card General */
    .caja {
        width: 35vw;
        height: 500px;
        margin: 1rem;
        background-color: #F3F3F3;
        border-radius: 16px 16px 0px 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: space-between;
        position: relative;}
/* Card Individual */
.uno {
    background-image: url(../img/fondo_tarjeta1.png);
    background-repeat: no-repeat;
    background-size: contain;}
.dos {background-image: url(../img/Fondo_Mujer_Maravilla.png);
        background-repeat: no-repeat;
        background-size: contain;}

.tres {background-image: url(../img/Fondo_Superman.png);
            background-repeat: no-repeat;
            background-size: contain;}
.cuatro {background-image: url(../img/harley_fondo_tab.png);
                background-repeat: no-repeat;
                background-size: contain;}
/* Contenido de la Card */
.imagen-top {height: 130px;
    border-radius: 50%;
    position: absolute;
    top: 7rem;}
.caja .tres .imagen-top {display: none;}
    #corazon {position: absolute;
    top:1rem;
    left: 1rem;
    color: #CC2424;}
    .caja h2 {margin: 2rem;
    position: absolute;
    top: 13rem;}
    .caja p {font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        line-height: 1rem;
        color: #333333;
        padding: 2rem;
        margin-top:4rem;
        position:absolute;
        top:12rem;}
    .caja button {width: 5rem;
        height: 2.5rem;
        background: #00669F;
        border-radius: 5%;
        position: absolute;
        bottom: 1rem;}
 /* Boton + */
    #more {position:fixed;
            background-color: #00669F;
            border-radius: 50%;
            background-size: contain;
        height: 40px;
        width: 5%;
        top: 32rem;
        right: 1rem;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;}
    /* Footer - Derechos Reservados */
    footer {
        padding: 0.5rem;
        background-color: #00669F;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;}
    footer p {font-size: 0.8rem; text-align: center;}
    footer img {height: 1rem;
    width: 3rem;
    position:absolute;
    right: 1rem;}
}
@media (min-width:1280px) {
    /* Desktop y monitores */
/* Header */
/* Cards de Súper Héroes */
section {width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;}
    /* Card General */
    .caja {
        width: 20vw;
        height: 470px;
        margin: 2rem;
        background-color: #F3F3F3;
        border-radius: 16px 16px 0px 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: space-between;
        position: relative;}
/* Card Individual */
.uno {
    background-image: url(../img/fondo_tarjeta1.png);
    background-repeat: no-repeat;
    background-size: contain;}
.dos {background-image: url(../img/Fondo_Mujer_Maravilla.png);
        background-repeat: no-repeat;
        background-size: contain;}

.tres {background-image: url(../img/Fondo_Superman.png);
            background-repeat: no-repeat;
            background-size: contain;}
.cuatro {background-image: url(../img/harley_fondo_tab.png);
                background-repeat: no-repeat;
                background-size: contain;}
/* Contenido de la Card */
.imagen-top {height: 130px;
    border-radius: 50%;
    position: absolute;
    top: 4.5rem;}
.caja .tres .imagen-top {display: none;}
    #corazon {position: absolute;
    top:1rem;
    left: 1rem;
    color: #CC2424;}
    .caja h2 {margin: 1rem;
    position: absolute;
    top: 12rem;}
    .caja p {font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        line-height: 1rem;
        color: #333333;
        padding: 1rem;
        margin-top:4rem;
        position:absolute;
        top:10rem;}
    .caja button {width: 5rem;
        height: 2.5rem;
        background: #00669F;
        border-radius: 5%;
        position: absolute;
        bottom: 1rem;}
 /* Boton + */
    #more {position:fixed;
            background-color: #00669F;
            border-radius: 50%;
            background-size: contain;
        height: 34px;
        width: 2.5%;
        top: 36rem;
        right: 0.5rem;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;}
    /* Footer - Derechos Reservados */
    footer {
        padding: 0.5rem;
        background-color: #00669F;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;}
    footer p {font-size: 0.8rem; text-align: center;}
    footer img {height: 1rem;
    width: 3rem;
    position:absolute;
    right: 1rem;}

}
