/* Header - CV y foto */
.foto-cv {background-image: url('../img/fondo_2_.jpg'); 
    background-repeat: no-repeat;
    background-color:#E5E5E5;
    background-size: cover;
height: 300px;
width: 100%;}
.foto-cv article{
background-image: url('../img/foto\ cv.jpg');
background-repeat: no-repeat;
background-size: contain;
background-position: center; 
width: 100%;
height: 300px;}

#CV {background-color:#87b695; 
background-position: bottom;
height: 60px;
width: 100%;
text-align: center;
color: #16692f;
font-weight: 700px;
font-family: 'Lora', serif;
}

nav {background-color: #87b695; 
    text-align: center;
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: 700px;
    text-transform: uppercase;
    font-family: 'Lora', serif;}

/* Cuerpo - Descripción personal - Reconocimientos Académicos - Hobbies y Voluntariado */
h2 {background-color: #87b695;
height: 30px;
width: 100%;
color: #16692f;
font-size: 20px;
font-weight: 700px;
font-family: 'Lora', serif;
text-transform: uppercase;}
.caja ul {list-style: none;
    font-family: 'Lora', serif;}
p {font-weight: bolder;
text-align: center;}

/* Footer - números y redes */
.footer {background-color: #007749;
height: 40px;
width: 100%;
text-align:center;
color:#FFFFFF;
position: relative;
font-family: 'Lora', serif;
display: inline-flex ;
justify-content: center;
padding: 3px;
align-items: center;}